@media screen and (min-width:380px)
	body
		font-size 16px
	header
		#logo, #avatar
			height 74px
			width 74px
		#titulo_nav
			h2
				font-size 1.5em
	#contenido
		.item
			figure
				margin 0 2em 0 0

@media screen and (min-width:768px)
	#contenido
		aside
			height auto
			margin 0 auto 0 auto
			width 48%
		aside:hover
			height auto
		.item
			width 48%
		.titulo_item
			h2
				font-size 1.3em

@media screen and (min-width:1280px)
	#contenido
		aside
			width 30%
		.item
			width 30%