<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>Pulse Sintrave</title>
        <meta name="description" content="Comunidad privada para el team Sintrave"/>
        <meta name="viewport" content="width=device-width,  maximum-scale=1"/>

        <link rel="stylesheet" href="css/normalize.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="js/vendor/jquery-1.9.1.min.js"></script>
        <script src="js/vendor/underscore.js"></script>
        <script src="js/vendor/backbone.js"></script>
        <script src="js/vendor/swig.js"></script>

        <script src="js/vendor/socket.io.js"></script>
        <script src="js/vendor/neon.js"></script>
        <script src="js/vendor/CustomEvent.js"></script>
        <script src="js/vendor/CustomEventSupport.js"></script>
        <script src="js/vendor/ponyExpress.js"></script>

        {% if env == "dev" %}
        <script src="js/init.js"></script>

        <script src="js/backbone/models/article.js"></script>
        <script src="js/backbone/collections/articles.js"></script>
        <script src="js/backbone/views/article.js"></script>
        <script src="js/backbone/views/articleNew.js"></script>
        <script src="js/backbone/routers/base.js"></script>
        {% endif %}
    </head>
    <body>
        <header>
            <figure id="header_logo">
                <a href=""><img src="/img/logo.png" alt="logo"></a>
            </figure>
            <div id="header_titulo">
                <h1>PULSE PRIVATE SINTRAVE</h1>
                <nav>
                    <ul>
                        <a href=""><li>Home</li></a>
                        <a href="https://github.com/agreencow/puls3"><li>GitHub</li></a> 
                    </ul>
                </nav>
            </div>
            <figure id="header_user">
                <a href=""><img src="/img/user.jpg"></a>
            </figure>
        </header>
        <section id="contenido">

            <aside>
                <div id="aside_header">
                    <span aria-hidden="true" class="icon-arrow-down"></span>
                    <h3>Crear Nueva Publicacion</h3>
                </div>
                <div id="aside_body">
                    <p>TITULO:
                       <input class="input" id="title" type="text" />
                    </p>
                    <p>TAG:
                       <input class="input" id="tag" type="text" />
                    </p>
                    <p>CONTENIDO:
                       <textarea cols="30" rows="6" id="content" type="text"/></textarea>
                    </p>                    
                    <p>
                        <button id="create">Publicar >></button>  
                    </p> 
                </div>
            </aside>

            {% for post in posts %}
<!--            <article class="contenido_item">
                    <figure>
                        <a href="#"><img src="{{ post.image }}"></a>
                    </figure>
                   
                    <div class="item_info">
                        <h2>{{ post.title }}</h2>
                        <p class="item_posted">Posteado por: <a href="#">{{ post.user }}</a></p>
                        <span aria-hidden="true" class="icon-heart-2"></span>
                    </div>
                     <div class="item_extra">
                        <p class="extra_tag">{{ post.tag }}</p>
                        <div class="extra_likes">
                            <a class="likes_up" href="#"><span aria-hidden="true" class="icon-arrow-up"></span></a>
                            <div class="likes_numero">{{ post.votes }}</div>
                            <a class="likes_down" href="#"><span aria-hidden="true" class="icon-arrow-down"></span></a>
                        </div>
                    </div>
                </article> -->
            {% endfor %}
        </section>
        {% raw %}
        <script id="Article_tpl" type="text/template">
            <article class="contenido_item">
                    <figure>
                        <a href="#"><img src="{{ post.image }}"></a>
                    </figure>
                   
                    <div class="item_info">
                        <h2>{{ post.title }}</h2>
                        <p class="item_posted">Posteado por: <a href="#">{{ post.user }}</a></p>
                        <span aria-hidden="true" class="icon-heart-2"></span>
                        <div class="item_contenido">
                        {% autoescape false %}
                            {{post.content}}
                        {% endautoescape %}
                    </div>
                    </div>
                     <div class="item_extra">
                        <p class="extra_tag">{{ post.tag }}</p>
                        <div class="extra_likes">
                            <a class="likes_up" href="#"><span aria-hidden="true" class="icon-arrow-up"></span></a>
                            <div class="likes_numero">{{ post.votes }}</div>
                            <a class="likes_down" href="#"><span aria-hidden="true" class="icon-arrow-down"></span></a>
                        </div>
                    </div>
                </article>
        </script>  

        <script id="ArticleExtended_tpl" type="text/template">
            <article class="contenido_item extended">
                <figure>
                    <a href="#"><img src="{{ post.image }}"></a>
                </figure>
                <div class="item_info">
                    <h2>{{ post.title }}</h2>
                    <p class="item_posted">Posteado por: <a href="#">{{ post.user }}</a></p>
                    <span aria-hidden="true" class="icon-heart-2"></span>
                    <div class="item_contenido">
                    {% autoescape false %}
                        {{post.content}}
                    {% endautoescape %}
                    </div>
                </div>
                <div class="item_extra">
                    <div class="extra_likes">
                        <a class="likes_up" href="#"><span aria-hidden="true" class="icon-arrow-up"></span></a>
                        <div class="likes_numero">{{ post.votes }}</div>
                        <a class="likes_down" href="#"><span aria-hidden="true" class="icon-arrow-down"></span></a>
                    </div>
                    <p class ="extra_tag">{{ post.tag }}</p>
                </div>
            </article> 
        </script>  
        {% endraw %}   
        {% if env == "dev" %}
        <script src="js/main.js"></script>
        {% endif %}

        {% if env == "production" %}
        <script src="app.min.js"></script>
        {% endif %}
    </body>
</html>
